*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.board-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
}

.game-result{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-menu{
    height: 100px;
    width: 100px; 
}

.restart-button{
    height: 100px;
    width: 100px;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}