@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    user-select: none;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* height: calc(100vh - 23%); */
    top: 10%;
    gap: 3rem;
    margin: 0;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
}

.board-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: .4rem; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .2s linear;
    /* border-radius: 10px; */
    outline: 1px solid black;
}

.board-container > div:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

.game-result{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Koulen, sans-serif;
    font-size: 2rem;
}

.restart-menu{
    height: 100px;
    width: 100px; 
}

.restart-button{
    /* height: 100px; */
    width: 100px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Koulen, sans-serif;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.restart-button:hover{
    background-position: left bottom;
    color: white;
}