*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 25%;
    height: 25%;
    border: 1px solid black;
}

.board-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}